@use '@/styles/variables' as *;
@use "sass:color"; // Potrzebne do color.adjust w przycisku
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

.my-habits-content {
  display: flex;
  flex-direction: column;
  font-family: 'Anonymous Pro', monospace;
  padding: 5px;

  .title-64 {
    font-size: 64px;
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    color: $text-color;
  }

  .headers-48 {
    display: grid;
    grid-template-columns: 1.8fr 1.5fr 1fr; // Musi pasować do HabitRow
    align-items: center;

    // ZMIANY DLA WYGLĄDU "PASTYLKI"
    background-color: $background2-color;
    border-radius: 50px;
    padding: 5px 24px;
    margin-bottom: 20px;

    // Fonty
    font-size: 40px;
    font-weight: bold;
    color: $text-color;

    border-bottom: none;

    span {
      display: block;
    }

    .col-center { text-align: center; }
    .col-right { text-align: center; padding-right: 1px; justify-self: right}
  }

  .habits-list {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 5px;

    &::-webkit-scrollbar { width: 8px; }
    &::-webkit-scrollbar-track { background: transparent; }
    &::-webkit-scrollbar-thumb { background-color: #444; border-radius: 4px; }

    .empty-msg {
      text-align: center;
      margin-top: 40px;
      font-size: 24px;
      color: rgba($text-color, 0.5);
    }
  }

  .add-btn {
    width: 100%;
    max-width: 600px;
    align-self: center;

    background-color: $primary-color;
    color: #fff;
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    font-size: 32px;

    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba($primary-color, 0.3);
    transition: transform 0.2s, background-color 0.2s;

    &:hover {
      background-color: color.adjust($primary-color, $lightness: 5%);
      transform: scale(1.02);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}