// global.scss
@use './variables' as *;
@use './mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Momo+Trust+Display&display=swap" rel="stylesheet');

// reset / normalize
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body / root
body {
  font-family: 'Anonymous Pro', monospace;
  font-weight: bold;
  background-color: $background2-color;
  color: $text-color;
  line-height: 1.5;
}

// linki
a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// przyciski
button {
  font-family: inherit;
  cursor: pointer;
  border-radius: $border-radius-md;
  padding: $spacing-sm $spacing-md;
}

// typografia globalna
h1, h2, h3, h4, h5, h6 {
  font-family: $font-momo;
  color: $text-color;
  margin-bottom: $spacing-md;
}

// listy
ul, ol {
  list-style: none;
}
